$cugold: #cfb87c;

$blue: #0082c3;
$green: #9acd6d;
$orange: #e9b71f;
$yellow: #ecc64b;
$red: #e9572a;
$white: #f7f7f7;
$gray: #858585;
$light_gray: #f5f5f5;
$dark_gray: #333333;
$black: #222222;

$text_black: #363636;
$text_white: #FFFFFF;

$border_color: #e7e7e7;

$bg_light: #f6f6f4;
//$bg_dark1: #353738;
//$bg_dark2: #27292a;

//$bg_dark1: #333;
//$bg_dark2: #232323;

$bg_dark1: #272727;
$bg_dark2: #1e1e1e;

$real_white: #FFFFFF;
$real_black: #000000;

$light_blue: #e2f1f9;

$link_blue: #007DBB;